
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background-color: rgb(87, 87, 166);
}

.logo img{

	height: 40px;
	height: 40px;
	border-radius: 50%;
}
.navbar{
	display: flex;
	align-items: center;
	
	
}
.navbar ul{ 
	display: flex;
	list-style-type: none;
}

.navbar a{
	padding: 8px;
	color: rgb(13, 11, 11);
	text-decoration: none;
}
.logo-name{
	font-size: 20px;
	font-weight: bold;
	color: rgb(13, 11, 11);
}
main{
	background-color:rgba(223, 228, 234,1.0)
	
}


.first-day{ 
	height:100% ;
	width: 320px;
	padding-left: 5px;
	border: solid 5px;
	border-radius: 8px;
	color:rgb(80, 80, 160)
}
.first-day img{
	width: 300px;
	height: 150px;
	padding-left: 5px;
}
.second-day{ 
	height:100% ;
	width: 320px;
	padding-left: 5px;
	border: solid 5px;
	border-radius: 8px;
	color:rgb(80, 80, 160)
}
.second-day img{
	width: 300px;
	height: 150px;
	padding-left: 5px;
}
.third-day{ 
	height:100%;
	width: 320px;
	padding-left: 5px;
	border: solid 5px;
	border-radius: 8px;
	color:rgb(80, 80, 160)
}
.third-day img{
	width: 300px;
	height: 150px;
	padding-left: 5px;
}
.column{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}
 .food{
	font-size: 30px;
	color: rgba(178, 42, 42, 0.682);
}
.loging-button{
	padding: 0.5em 1.5 em;
	width: 88px;
	height: 40px;
	margin-left: 110px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: rgb(118, 118, 202);
	border: 1px solid rgb(124, 124, 197);
	box-shadow: 0.5em 0.5em rgba(93, 112, 132, 0.521);
	&:hover{
		cursor: pointer;
	}
	}
footer{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: cornflowerblue;
	
}
footer .img-1 img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
footer .img-2 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;

}
footer h1{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 900px) {
	footer{display:grid;
		grid-template-rows:repeat(3,1fr) ;
		justify-content: center;
		align-items: center;
	}
	
}