
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background-color:rgba(116, 185, 255,1.0)
}
.logo img{

	height: 40px;
	height: 40px;
	border-radius: 50%;
}
.navbar{
	display: flex;
	align-items: center;
	
	
}
.navbar ul{ 
	display: flex;
	list-style-type: none;
}
.navbar a{
	padding: 8px;
	color: rgb(13, 11, 11);
	text-decoration: none;
}
.logo-name{
	font-size: 20px;
	font-weight: bold;
	color: rgb(13, 11, 11);
	
}





footer{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-left: 10px;
	margin-right: 10px;
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: cornflowerblue;
	
}
footer .img-1 img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
footer .img-2 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;

}
footer h1{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}
