
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background-color:rgba(116, 185, 255,1.0)
}
.logo img{

	height: 40px;
	height: 40px;
	border-radius: 50%;
}
.navbar{
	display: flex;
	align-items: center;
	
	
}
.navbar ul{ 
	display: flex;
	list-style-type: none;
}
.navbar a{
	padding: 8px;
	color: rgb(13, 11, 11);
	text-decoration: none;
}
.logo-name{
	font-size: 20px;
	font-weight: bold;
	color: rgb(13, 11, 11);
	
}
body{
	background-color:rgba(210, 218, 226,1.0)
}

.login{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-right: 40px;
	border-radius: 7px;
	border: 1px solid rgb(124, 124, 197);
	box-shadow: 0.5em 0.5em rgba(93, 112, 132, 0.521);
	&:hover{
		cursor: pointer;
	}
	height: 400px;
	width: 300px;
	margin: 10 40 15;
	background-color:rgba(116, 185, 255,1.0);
}
.food{
	height: 300px;
	width: 300px;
    margin-top: 200px;
    border-radius: 7px;
    background-color:rgba(116, 185, 255,1.0);
	box-shadow: 0.5em 0.5em rgba(174, 184, 195, 0.521);
	&:hover{
		cursor: pointer;
	}
	background-color: rgb(164, 164, 216);
}
.container2{
	display: flex;
	flex-direction: row;
	
	
	
}


.box{
	width: 600px;
	height: 200px;
	background-color:rgba(116, 185, 255,1.0);
	border: 2px solid rgb(78, 78, 205);
	border-radius: 5px;
	margin-top: 100px;
	margin-right: 450px;
	margin-left: 200px;
	display: flex;
	flex-direction: row;
	
	box-shadow: 0.5em 0.5em rgba(135, 177, 222, 0.521);
	&:hover{
		cursor: pointer;
	}

}
.text2{
	font-size: 50px;
	font-weight: 200;
}
.img1 img{
	display: flex;
	width: 1100px;
	height: 600px;
	margin-top: 50px;
	border-radius: 10px;
	margin-left: 20px;
}
.container2.login.text1{
	font-size: 40px;
	margin: 20px;
	
}
.container4{
	display: flex;
	flex-direction: row;
}
.container4 .food{
	background-color:rgba(116, 185, 255,1.0)
}
.img2 img{
	display: flex;
	width: 1100px;
	height: 600px;
	margin: 20px;
	border-radius: 10px;
	
}






footer{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-left: 10px;
	margin-right: 10px;
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: cornflowerblue;
	
}
footer .img-1 img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
footer .img-2 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;

}
footer h1{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}
